NODE_ENV=production
MONGO_URI=mongodb+srv://portfolio_admin:r4il6JgelqavvyUQ@portfolio-cluster.oexyxqo.mongodb.net/?appName=portfolio-cluster
JWT_SECRET=J1+bG+0AZVDRESoVfDScgOOoF6LOEbOrWhj18TOS0U+pDwKo42ccauGwJr84bt37
JWT_EXPIRES_IN=7d
# PORT is only used in local development (server.js) — not needed on Vercel